@import url(/shared/styles/base.css);
@import url(/shared/components/custom-list.css);
@import url(/shared/components/custom-list-item.css);

summary {
  cursor: pointer;
}

summary::marker {
  content: none;
}

a.back {
  display: none;
}

@media (max-width: 710px) {
  main {
    display: none;
  }

  body.feed-selected nav {
    display: none;
  }

  body.feed-selected main {
    display: block;
  }

  a.back {
    display: block;
    padding-top: 2em;
  }
}

