:root {
  --text-color: #2a3434;
  --text-color-light: #778a8a;
  --border-color: #bec5c4;
  --font-family: Ubuntu, Roboto, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --selection-shadow: 0px 0px 3px var(--text-color-light);
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  font-size: 20px;
  margin: 0;
  padding: 1em 3em;

  display: grid;
  grid-template-columns: 1fr 2fr;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0.4em 0;
}

.hidden {
  display: none !important;
}

@media (max-width: 1000px) {
  body {
    font-size: 18px;
  }
}

@media (max-width: 710px) {
  body {
    padding: 1em 1em;
    font-size: 16px;

    grid-template-columns: 1fr;
  }
}
